body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: #6200ea;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    width: 97.5vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

main {
    padding: 20px;
}

h1, h2 {
    color: #6200ea;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #6200ea;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #3700b3;
    text-decoration: underline;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

footer {
    background-color: #6200ea;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.2);
}
